<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
		<title>{% block title %}Microlly{% endblock %}</title>
	</head>

	<body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Microlly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                        <li class=nav-item">
                        <a class="nav-link" href="/newPub">Nouvelle publication</a>
                        </li>
                    {%  endif %}
                </ul>
            </div>
        </nav>

		{% block body %}{% endblock %}	
	</bodytext-center>
    <footer class="footer">
        Production de l'entreprise : Heureusement qu'il y a la doc.
    </footer>
</html>
