{% extends "_base.html" %}

{% block title %}
	{{INDEX_PAGE_TITLE}}
{% endblock %}

{% block body %}
    <div class="container">
	{% if publications %}
			{% for publication in publications %}
                <ul class="list-group">
                    <li class="list-group-item"><a href = "{% url 'Microlly:publication' publication.id %}" >{{ publication.title }}</a></li>
                    <li class="list-group-item">	{{publication.user}}</li>
                </ul>
			{% endfor %}
	{% else %}
			Aucune publications.
	{% endif %}
    </div>
{% endblock %}
